<div class="container">
  <div class="row">
    <h1 class="h1">
      <span class="glyphicon glyphicon-th title-gly"></span>
      <span class="border-bottom-thick">传感器、阈值与停堆功能</span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- narrow column -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 no-padding-left">

      <h2 class="h2">筛选</h2>

      <!-- 功能筛选1 check box for safety injection filtering-->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bottom"
        name="reserved-checkbox"
        ng-model=""
        ng-true-value="''"
        ng-false-value="">
        <label for="reserved-checkbox">Reserved</label>
      </div>

      <!-- 功能筛选 模糊关键字 -->
      <label for="searchbox">使用模糊关键字</label>
      <input type="text" class="form-control input-sm margin-bottom" id="searchbox" ng-model="query">


    </div>   <!-- narrow column -->

    <!-- wide column -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

      <h2 class="h2">查询结果: <span ng-bind="filteredItems.length"></span>条 |
        总记录 <span ng-bind="rtCtrl.items.length"></span>条</h2>

      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Sensor ID</th>
            <th scope="col">DCS</th>
            <th scope="col">Sub Group</th>
            <th scope="col">BD Index</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filteredItems = (rtCtrl.items |
                                                filter: query)">
          <td>{{item.Sensor_ID}}</td>
          <td>{{item.DCS}}</td>
          <td>{{item.Subsystem}}</td>
          <td>{{item.BD_Index}}</td>
        </tr>
        </tbody>
      </table>
    </div> <!-- wide column -->

  </div>  <!-- row -->
</div>  <!-- contianer -->
