/* * { */
/*   outline: 1px solid pink; */
/* } */
body {
  font-size: 85%;
  margin: 0px auto;
  margin-bottom: 40px;
}

.header {
  padding-top: 5px;
  width: 100%;
  text-align: center;
  /* overflow: auto; */
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: darkblue;
  background-image: linear-gradient(45deg, #8AB3BF, #C1CD89); 
}

.logo {
  width: 30%;
  float: left;
}

.nav {
  text-decoration: none;
  margin-top: 90px;
  width: 70%;
  float: left;
  /* min-width: 600px; */
}

.nav > ul {
  text-align: center;
  margin-left: 10%;
  list-style: none;
  position: relative;
  display: inline-table;
}

.nav > ul:after {
  content: "";
  clear: both;
  display: block;
}

.nav > ul > li {
  float: left;
  list-style: none;
}

.nav a {
  padding: 20px 20px 10px 20px;
  text-decoration: none;
}

/* .nav a:hover { */
/*   background-color: lightpink; */
/* } */

.main-nav-list:hover > ul {
  display: block;
}

.main-nav-list > a:after {
  content:"\25BE";
  /* font-size: 30%; */
  border: 1px solid grey;
  border-radius: 50% 50% 50% 50%;
}

.sub-nav-list {
  display: none;
  position: absolute;
  top: 100%;
  padding-left: 10px;
}

.sub-nav-list li {
  list-style: none;
  text-align: left;
  float: none;
  position: relative;
}

.active a {
  background-color: lightblue;
}

h1.main_title {
  padding-left: 40px;
}
.content {
  width: 80%;
  margin: 0px auto;
}

.container {
  position: relative;
  top: 150px;
  z-index: 1;
}

.query_control {
  padding-bottom: 5px;
}
.long_input_bar {
  width: 80%;
}
.side_checkbox {
  clear: left;
  text-align: right;
}

.side_checkbox > * {
  margin-right: 20%;
  letter-spacing: 0.2em;
}
.side_checkbox h2 {
  /* border-bottom: 2px solid lightsalmon; */
  border-right: 4px solid lightsalmon;
}

.result_content {
  /* background-color: darkgrey; */
  height: 1000px;
  overflow: auto;
}

thead tr {
  height: 40px;
}
thead th {
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111;
  letter-spacing: 0.1em;
}
th.md_tab_col {
  width: 10%;
}
th.sm_tab_col {
  width: 8%;
}

tbody tr {
  height: 30px;
}
tbody tr:nth-child(even) {
  background-color: lightgrey;
}
tbody td {
  padding: 0px 4px;
}
tbody tr:hover {
  background-color: pink;
}

p.footnote {
  font-size: 60%;
  margin-top: 2px;
  margin-bottom: 10px;
}
h2.no_bottom_margin {
  margin-bottom: 0px;
}
#searchbox {
  margin-top: 3px;
  letter-spacing: 0;
  width: 80%;
}
.author_message {
  padding-left: 40px; 
}
/* I should ues SAAS A.S.A.P */
