.flex-box {
  display: flex;
  justify-content: space-around;
}
.jumbotron {
  text-align: center;
}
.button-link {
  color: white;
  text-decoration: none;
}
.margin-top-md {
  margin-top: 50px;
}
.no-padding-left {
  padding-left: 0;
}
