/*
 * rules for style
 */
.text-center {
  text-align: center;
}
.button-link {
  color: white;
  text-decoration: none;
}
.font-face {
  font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
  font-weight: 500;
}
.font-size-80 {
  font-size: 100%;
}
/*
 * rules for layout
 */
.padding-top {
  padding-top: 70px;
}
.flex-box {
  display: flex;
  justify-content: space-around;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-top-md {
  margin-top: 50px;
}
.no-padding-left {
  padding-left: 0;
}
/*
 * rules facilities
 */
body {
  padding-top: 70px;
}
.jumbotron {
  text-align: center;
}
.styled-list {
  padding-left: 0;
}
.styled-list li {
  list-style: none;
}
.styled-list li:before {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #F44336;
  margin-right: 3px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
  font-weight: 500;
}
