@deep-orange: #f57c00;
@primary-red: #f44336;
@primary-gray: #eeeeee;
@dark-indigo: #303f9f;
@light-indigo: #3f51b5;

/*
 * rules for style
 */

.text-center {
  text-align: center;
}
.button-link {
  color: white;
  text-decoration: none;
}
.font-face {
  font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
  // set font-weight to 500
  // to unify text stroke thickness
  // in all version of Windows
}
.h1-sm {
  font-size: 30px;
}
.h2-sm {
  font-size: 24px;
}
.border-bottom-thick {
  border-bottom: 5px @dark-indigo solid;
}
.border-left-thick {
  border-left: 3px @light-indigo solid;
}

/*
 * rules for layout
 */

.flex-box {
  display: flex;
  justify-content: space-around;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-top-md {
  margin-top: 50px;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.padding-top-sm {
  padding-top: 50px;
}
.padding-top-dym {
  padding-top: 10%;
}
.padding-left-sm {
  padding-left: 3px;
}
.no-padding-left {
  padding-left: 0;
}


/*
 * rules facilities
 */

body {
  .font-face;
  .padding-top-sm;
}
.jumbotron {
  .padding-top-dym;
  .text-center;
  background-color: white;
}
.styled-list {
  .no-padding-left;
}
.styled-list li {
  list-style:none;
}
.styled-list li:before {
  content: "";
  display:inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: @primary-red;
  margin-right: 3px;
}
.form-control {
  font-weight: light;
}
.navbar {
  .no-margin-bottom;
}
.h2 {
  .h2-sm;
  .border-left-thick;
  .padding-left-sm;
}
