body {
  font-size: 85%;
  margin: 0px auto;
  margin-bottom: 40px;
  /* font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif; */
  /* font-family: Helvetica, Tahoma, Arial, STXihei, Heiti, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif; */
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", "宋体", sans-serif;
  background-color: #f2f2f2;
}

.header {
  padding-top: 5px;
  width: 100%;
  text-align: center;
  /* overflow: auto; */
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: darkblue;
  background-image: linear-gradient(45deg, #8AB3BF, #C1CD89); 
}

.logo {
  width: 30%;
  float: left;
}

.nav {
  text-decoration: none;
  margin-top: 90px;
  width: 70%;
  float: left;
  /* min-width: 600px; */
}

.nav > ul {
  text-align: center;
  margin-left: 10%;
  list-style: none;
  position: relative;
  display: inline-table;
}

.nav > ul:after {
  content: "";
  clear: both;
  display: block;
}

.nav > ul > li {
  float: left;
  list-style: none;
}

.nav a {
  padding: 20px 20px 10px 20px;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/* .nav a:hover { */
/*   background-color: lightpink; */
/* } */

.main-nav-list {
  position: relative;
}
.main-nav-list:hover > ul {
  display: block;
}

.main-nav-list > a:after {
  content:"\25BE";
  /* font-size: 30%; */
  border: 1px dotted grey;
  border-radius: 30% 30% 30% 30%;
}

.sub-nav-list {
  display: none;
  position: absolute;
  /* top: 100%; */
  left: 20px;
  padding-left: 0px;
  background-color: #fafafa;
  width: 130px;
}

.sub-nav-list li {
  list-style: none;
  text-align: left;
  float: none;
  position: relative;
  padding: 5px 0px 5px 0px;
  border-left: 3px solid #f8f8ff;
}

.sub-nav-list li:hover {
  background-color: lightgrey;
  border-left: 3px solid #7c807c;
}

.sub-nav-list a {
  display: block;
  padding: 5px 10px 5px 15px;
}

/* .active > a { */
/*   background-color: lightblue; */
/* } */

h1.main_title {
  padding-left: 40px;
}
.content {
  width: 80%;
  margin: 0px auto;
}

.container {
  position: relative;
  top: 140px;
  z-index: 1;
}

.query_control {
  padding-bottom: 5px;
}
.long_input_bar {
  width: 80%;
  margin-bottom: 10px;
}
.side_checkbox {
  clear: left;
  text-align: right;
}

.side_checkbox > * {
  margin-right: 20%;
  letter-spacing: 0.2em;
}
.side_checkbox h2 {
  /* border-bottom: 2px solid lightsalmon; */
  border-right: 4px solid lightsalmon;
}

.result_content {
  /* background-color: darkgrey; */
  height: 1000px;
  overflow: auto;
}

thead tr {
  height: 40px;
}
thead th {
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111;
  letter-spacing: 0.1em;
}
.md_tab_col {
  width: 10%;
}
.sm_tab_col {
  width: 8%;
}
.lg_tab_col {
  line-height: 1.5em;
}

tbody tr {
  height: 30px;
}
tbody tr:nth-child(even) {
  background-color: lightgrey;
}
tbody td {
  padding: 0px 4px;
}
tbody tr:hover {
  background-color: #fce4ec;
}

p.footnote {
  font-size: 60%;
  margin-top: 2px;
  margin-bottom: 10px;
}
h2.no_bottom_margin {
  margin-bottom: 0px;
}
#searchbox {
  margin-top: 3px;
  letter-spacing: 0;
  width: 80%;
}
.author_message {
  padding-left: 40px; 
}

.page-note {
  color: #0b6caa;
  background-color: #dde4e9;
  font-size: 80%;
  border-left: 5px inset #0b6caa;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  width: 50%;
  line-height: 1.5em;
}

@media (max-width: 900px) {
  .logo { display: none; }
  .nav { width: 100%; padding-left: 50px; margin-top: 10px; }
  .nav > ul { margin-left: 0px; }
}

.main-page-container {
  position: absolute;
  width: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.05) 1px, transparent 1px),
  linear-gradient(0deg, rgba(0,0,0,0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size: 10px 10px, 50px 50px, 10px 10px, 50px 50px;
}

.main-page-feature {
  margin-top: 50px;
  text-align: center;
  font-size: 150%;
}
.flex-box {
  font-family: georgia, sarif;
  font-size: 135%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0px auto;
}

.float-elem {
  text-align: center;
  /* padding: 5%; */
  margin: 10px;
  /* background-color: #1de9b6; */
  /* border-radius: 50% 50% 50% 50%; */
  width: 12%;
}

.float-elem h1 {
  padding-left: 0px;
}

.main-page-button {
  text-align: center;
  margin:60px auto;

}

.main-anchor {
  margin: 100px auto;
  text-align: center;
}

.main-anchor a {
  font-size: 115%;
  padding: 30px 60px;
  line-height: 40px;
  /* background-image: linear-gradient(red, blue); */
  background-color: rgba(157, 188, 173, 0.7);
  border-bottom: 5px solid rgba(157, 188, 173, 1.0);
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.main-anchor a:hover {
  background-color: rgba(157, 188, 173, 1.0);
}

.side-keyword {
  text-align: left;
}
.side-keyword dfn {
  display: block;
}

.side-keyword dfn:before {
  content: "";
  display: inline-block;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  background-color: #5677fc;
  margin: 0px 3px 3px 0px;
}

.recommend:after {
  content: "Recommand";
  color: white;
  font-size: 90%;
  background-color: #ff4081;
  border-radius: 1px;
  margin-left: 3px;
  padding: 2px;
}

.download_tag {
  font-size: 90%;
  background-color: #5677fc;
  text-decoration: none;
  color: white;
  padding: 2px 6px;
}

