<div class="container">
  <div class="row">
    <h1 class="h1">
      <span class="glyphicon glyphicon-th title-gly"></span>
      <span class="border-bottom-thick">专设设备查询</span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- narrow column -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 no-padding-left">

      <h2 class="h2">筛选</h2>

      <!-- 功能筛选1 check box for safety injection filtering-->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="si-check-box"
        ng-model="siChecked"
        ng-true-value="'siChecked'"
        ng-false-value="">
        <label for="si-check-box">SI相关设备</label>
      </div>

      <!-- 功能筛选2 check box for containment spray filtering -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="cs-check-box"
        ng-model="csChecked"
        ng-true-value="'csChecked'"
        ng-false-value="">
        <label for="cs-check-box">CS相关设备</label>
      </div>

      <!-- 功能筛选 check box for CIA filtering -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="cia-check-box"
        ng-model="ciaChecked"
        ng-true-value="'ciaChecked'"
        ng-false-value="">
        <label for="cia-check-box">CIA相关设备</label>
      </div>

      <!-- 功能筛选 check box for CIB filtering -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="cib-check-box"
        ng-model="cibChecked"
        ng-true-value="'cibChecked'"
        ng-false-value="">
        <label for="cia-check-box">CIB相关设备</label>
      </div>

      <!-- 功能筛选 check box for Trian A filtering -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="train-a-check-box"
        ng-model="trainAChecked"
        ng-true-value="'trainAChecked'"
        ng-false-value="">
        <label for="train-a-check-box">只看Train-A</label>
      </div>

      <!-- 功能筛选 check box for Trian B filtering -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="train-b-check-box"
        ng-model="trainBChecked"
        ng-true-value="'trainBChecked'"
        ng-false-value="">
        <label for="train-b-check-box">只看Train-B</label>
      </div>

      <!-- 功能筛选 模糊关键字 -->
      <div class="row no-margin-left">
        <label for="searchbox">使用模糊关键字</label>
        <input type="text" class="form-control input-sm margin-bttom" id="searchbox" ng-model="query">
      </div>

      <h2 class="h2 no-margin-bottom">排序</h2>
      <p>默认按机柜号排序</p>

      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="sort_by_local_sys"
        ng-model="sortByLocalSys"
        ng-true-value="'local_sys'"
        ng-false-value="''">
        <label for="sort_by_local_sys">选择三字码</label>
      </div>

      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="sort_by_category"
        ng-model="sortByCategory"
        ng-true-value="'category'"
        ng-false-value="''">
        <label for="sort_by_category">选择设备类型</label>
      </div>

      <button class="btn btn-sm btn-primary" ng-click="equipCtrl.reOrder([sortByLocalSys, sortByCategory])()">点击排序</button>

      <h2 class="h2">显示</h2>

      <!-- check box for dcs column show / hide -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        name="description-col-show"
        ng-model="equipCtrl.columnShow.function_description"
        ng-true-value="true"
        ng-false-value="false">
        <label for="description-col-show">功能描述</label>
      </div>

      <!-- check box for LD index column show / hide -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        ng-model="equipCtrl.columnShow.ld_index"
        ng-true-value="true"
        ng-false-value="false">
        <label for="ld_index-col-show">LD 页码</label>
      </div>

      <!-- check box for local System column show / hide -->
      <div class="row no-margin-left">
        <input type="checkbox" class="margin-bttom"
        ng-model="equipCtrl.columnShow.sd_index"
        ng-true-value="true"
        ng-false-value="false">
        <label for="sd_index-col-show">SD 页码</label>
      </div>

    </div>   <!-- narrow column -->

    <!-- wide column -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

      <h2 class="h2">查询结果: <span ng-bind="filteredItems.length"></span>条 |
        总记录 <span ng-bind="equipCtrl.items.length"></span>条</h2>

      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">工艺系统</th>
            <th scope="col" class="text-nowrap">设备名称</th>
            <th scope="col" class="text-nowrap">设备类型</th>
            <th scope="col" class="text-nowrap">Train</th>
            <th scope="col" class="text-nowrap">DCS机柜</th>
            <th scope="col" ng-show="equipCtrl.columnShow.function_description">功能描述</th>
            <th scope="col" ng-show="equipCtrl.columnShow.ld_index">LD 页码</th>
            <th scope="col" ng-show="equipCtrl.columnShow.sd_index">SD 页码</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filteredItems = (equipCtrl.items |
                                                filter: query |
                                                filter: equipCtrl.filterOptions[siChecked] |
                                                filter: equipCtrl.filterOptions[csChecked] |
                                                filter: equipCtrl.filterOptions[trainAChecked] |
                                                filter: equipCtrl.filterOptions[trainBChecked] |
                                                filter: equipCtrl.filterOptions[ciaChecked] |
                                                filter: equipCtrl.filterOptions[cibChecked] |
                                                orderBy: equipCtrl.sortOrderKeyword)">
          <td>{{item.local_sys}}</td>
          <td>{{item.actuator}}</td>
          <td>{{item.category}}</td>
          <td>{{item.train}}</td>
          <td>{{item.dcs}}</td>
          <td ng-show="equipCtrl.columnShow.function_description">{{item.function_description}}</td>
          <td ng-show="equipCtrl.columnShow.ld_index">{{item.ld_index}}</td>
          <td ng-show="equipCtrl.columnShow.sd_index">{{item.sd_index}}</td>
        </tr>
        </tbody>
      </table>
    </div> <!-- wide column -->

  </div>  <!-- row -->
</div>  <!-- contianer -->
