<div class="container">
  <div class="row">
    <h1 class="h1">
      <span class="glyphicon glyphicon-th-large"></span>
      <span class="border-bottom-thick">外购物资查询 <small>Beta</small></span>
    </h1>
    <p>
      外购物资查询功能处于试用阶段，欢迎提供宝贵意见，或对收录数据进行补充、修正。<br />
      任何意见或建议，请
      <a href="mailto:churui.ctecdcs.net">
        通过内邮告知 <span class="glyphicon glyphicon-new-window"></span>
      </a>
      。谢谢。
    </p>
  </div>
</div>

<div class="container">
  <div class="row">


    <!-- narrow column -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 no-padding-left">

      <h2 class="h2">筛选</h2>

      <!-- 筛选1 选择适用文件 -->
        <label>选择物资类别</label>
        <select class="form-control input-sm margin-bottom" ng-model="usage"
          ng-options="c.category as c.category for c in cotsCtrl.selectOptions['category']">
        </select>

      <!-- 筛选2 模糊关键字 -->
      <label for="searchbox">模糊查询</label>
      <input class="form-control input-sm margin-bottom" type="text" id="searchbox" ng-model="query">

    </div>  <!-- narrow column-->

    <!-- wide column -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

      <h2 class="h2">查询结果：<span ng-bind="filteredItems.length"></span>条 | 总记录 <span ng-bind="cotsCtrl.items.length"></span>条</h2>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap">类别</th>
            <th scope="col" class="text-nowrap">名称</th>
            <th scope="col" class="text-nowrap">型号</th>
            <th scope="col" class="text-nowrap">参数</th>
            <th scope="col" class="text-nowrap">应用</th>
            <th scope="col" class="text-nowrap">状态</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filteredItems = (cotsCtrl.items | filter: cotsCtrl.hardCodeFilter[usage] 
                                               | filter: query)">

          <td class="text-nowrap">{{item.category}}</td>
          <td class="text-nowrap">{{item.item}}</td>
          <td>{{item.model}}</td>
          <td>{{item.specification}}</td>
          <td>{{item.application}}</td>
          <td>{{item.status}}</td>

        </tr>
        </tbody>
      </table>
    </div>   <!-- wide column-->

  </div>  <!-- row -->
</div>  <!-- container -->
