<div class="container">
  <div class="row">
    <h1 class="h1-sm">平台硬件信息</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 no-padding-left">
      <h2 class="h2-sm">筛选</h2>

      <!-- 筛选1 选择适用平台 -->
      <label>选择适用平台</label>
      <select class="form-control margin-bottom" ng-model="compCtrl.selectedPlatform"
        ng-options="c.platform as c.platform for c in compCtrl.selectOptions['platform']">
      </select>

      <!-- 筛选1 选择硬件类型 -->
      <label>选择常用类型</label>
      <select class="form-control margin-bottom" ng-model="compCtrl.selectedName"
        ng-options="c.name as c.name for c in compCtrl.selectOptions['name']">
      </select>

      <!-- 筛选 模糊关键字 -->
      <label for="searchbox">使用模糊关键字</label>
      <input class="form-control" type="text" id="searchbox" ng-model="query">
    </div>  <!-- narrow column -->

    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

      <h2 class="h2-sm">查询结果：<span ng-bind="filteredItems.length"></span>条 | 总记录 <span ng-bind="compCtrl.items.length"></span>条</h2>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">型号</th>
            <th scope="col">类型</th>
            <th scope="col">功能</th>
            <th scope="col">规格</th>
            <th scope="col">平台</th>
            <th scope="col">系统</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filteredItems = (compCtrl.items |
          filter: compCtrl.hardCodeFilter[compCtrl.selectedPlatform] |
          filter: compCtrl.hardCodeFilter[compCtrl.selectedName] |
          filter: query)">

          <td>{{item.module}}</td>
          <td>{{item.name}}</td>
          <td>{{item.feature}}</td>
          <td>{{item.specification}}</td>
          <td>{{item.platform}}</td>
          <td>{{item.usage}}</td>
        </tr>
        </tbody>
      </table>
    </div>   <!-- wide column -->
    </div>
  </div>  <!-- row -->
</div>  <!-- container -->
