<div class="container">
  <div class="row">
    <h1 class="h1">
      <span class="glyphicon glyphicon-th-large"></span>
      <span class="border-bottom-thick">术语检索</span>
    </h1>
    <div class="page-note">
      <p>本页可以检索二字码、三字码，以及各种核电专用词汇等。 <br />
      如果有任何的词库扩展建议，请
      <a href="mailto:churui@ctecdcs.net">
        通过内邮告知 <span class="glyphicon glyphicon-new-window"></span>
      </a>
      。谢谢。
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- narrow column -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 no-padding-left">
      <h2 class="h2">筛选</h2>

      <!-- 筛选 指定码精确查找 -->
      <div class="form-group">
        <label for="searchbox">根据关键字检索</label>
        <input class="form-control input-sm margin-bottom" type="text" id="searchbox" ng-model="speciCode">
      </div>

      <!-- 筛选 模糊关键字 -->
      <div class="form-group">
        <label for="searchbox">模糊检索</label>
        <input class="form-control input-sm margin-bottom" type="text" id="searchbox" ng-model="query">
      </div>

    </div>  <!-- end narrow column -->

    <!-- wide column -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

      <h2 class="h2">检索结果</h2>
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">关键字</th>
            <th scope="col">全称</th>
            <th scope="col">来源</th>
            <!-- <th scope="col" class="lg_tab_col">文件描述</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in (acrCtrl.items | filter: acrCtrl.codeIndex(speciCode) | filter: query)">

            <td>{{item.code}}</td>
            <td>{{item.designation}}</td>
            <td>{{item.origin}}</td>

          </tr>
        </tbody>
      </table>
    </div>   <!-- wide column-->

  </div>  <!-- row -->
</div>  <!-- container -->
