<h1 class="main_title">术语检索</h1>

<div class="container_12 clearfix">
  <div class="page-note">
    <p>本页可以检索二字码、三字码、术语、各种专用英文词汇等。 <br />
      如果有任何的词库扩展建议，请
      <a href="mailto:churui.ctecdcs.net">发内邮联系我</a>。谢谢。
    </p>
  </div>

  <div class="grid_3 side_checkbox">

    <h2 class="section_title">筛选</h2>

    <!-- 筛选 指定码精确查找 -->
    <label for="searchbox">根据关键字检索</label>
    <input class="long_input_bar" type="text" id="searchbox" ng-model="speciCode">

    <!-- 筛选 模糊关键字 -->
    <label for="searchbox">模糊检索</label>
    <input class="long_input_bar" type="text" id="searchbox" ng-model="query">


  </div>  <!-- class grid_3 side_checkbox -->

  <div class="grid_9 result_content">
    
    <h2 class="section title">检索结果</h2>
    <table class="query_table">
      <thead>
        <tr>
          <th scope="col" class="md_tab_col">关键字</th>
          <th scope="col" class="lg_tab_col">全称</th>
          <th scope="col" class="md_tab_col">来源</th>
          <!-- <th scope="col" class="lg_tab_col">文件描述</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in (acrCtrl.items | filter: acrCtrl.codeIndex(speciCode) | filter: query)">

          <td>{{item.code}}</td>
          <td>{{item.designation}}</td>
          <td>{{item.origin}}</td>

        </tr>
      </tbody>
    </table>
  </div>   <!-- class grid_9 result_content -->
</div>
